body {
  height: 100vh; /* Medida utilizada para que a background-image ocupe toda a altura da página de acordo com dispositivo utilizado */
  background-image: url("Imagens/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: white; /* Cor utilizada para trazer bom contraste com o fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    /* Estilização de links realizada dentro do body para sobrepor a regra padrão do navegador */
    color: white;
    text-decoration: none;
  }
}

form {
  width: 300px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /*Utilizado para criar um efeito de transparência no fundo do formulário, permitindo que a imagem de background seja parcialmente visível */
}

h1 {
  text-align: center;
}

div.group {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

div.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

label {
  width: 50px;
}

input {
  width: 200px;
  height: 15px;
  margin: 5px 0 5px 0;
  padding: 5px;
  border: solid 3px #ff2400; /* Cor utilizada para combinar com as cores da imagem de background */
  border-radius: 5px;
}

button {
  width: 100%;
  height: 27px;
  margin: 25px 0 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #ff2400;
  font-size: 13px;
  cursor: pointer;
  color: white;
}

.links {
  font-size: 13px;
  display: flex;
  justify-content: space-between; /* Alinhamento dos links de forma que fiquem nas extremidades do container */
  a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ff2400;
  }
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
  color: #ff2400;
  margin: auto;
}

/* Media queries utilizando-se de 3 breakpoints permitindo responsividade em tamanhos de tela variados */

@media (max-width: 1024px) {
  form {
    width: 40%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  form {
    width: 60%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  form {
    width: 80%;
    padding: 10px;
  }
}
